#features{
    h2{
        font-size: 2rem;
        margin: 0;
        padding-bottom: 10px;
    }
    p{
        color: $navFeaturesColor;
        margin: 0;
        margin-bottom: 40px;
    }
    .fa{
        font-size: 3rem;
        color: $primaryColor;
        margin-bottom: 10px;
    }
}