$fontFamily: 'Open-sans', sans-serif;
$fontSize: 17px;
$lineHeight: 1.5em;
$primaryColor: #56a79a;
$secondaryColor: #ccc;
$navFeaturesColor: #888;
$showcaseBackgroundColor: #333;
$thirdColor: #fff;
$buttonColor: #222;